---
import siteConfig, { type Link } from "../site.config";
import Hamburger from "./Hamburger.astro";
import ThemeSwitcher from "./ThemeSwitcher.astro";
import SiteIdentity from "./SiteIdentity.astro";
import NavLinks from "./NavLinks.astro";
const { activePage } = Astro.props;
---

<header>
  <nav class="font-light w-full">
    <a href="/"><SiteIdentity /></a>
    <div class="hidden sm:flex sm:gap-8">
      {(<NavLinks activePage={activePage} links={siteConfig.headerNavLinks} />)}
    </div>
    <ThemeSwitcher />
    <Hamburger />
  </nav>
  <div
    id="mobile-links"
    class="font-light animated h-0 m-0 opacity-0 top-0 w-full"
  >
    <span class="close-menu">❌</span>
    <NavLinks
      activePage={activePage}
      links={siteConfig.headerNavLinks}
      isMobileLink={true}
    />
  </div>
</header>

<script>
  function setupNavigation() {
    const hamburger = document.querySelector("#hamburger-menu");
    const closeMenu = document.querySelector(".close-menu");
    const mobileLinks = document.querySelector("#mobile-links");

    if (hamburger && mobileLinks) {
      hamburger.addEventListener("click", () => {
        mobileLinks.classList.remove("slideOutUp");
        mobileLinks.classList.add("expanded", "slideInDown");
      });
    }

    if (closeMenu && mobileLinks) {
      closeMenu.addEventListener("click", () => {
        mobileLinks.classList.add("slideOutUp", "expanded");
        mobileLinks.classList.remove("slideInDown");
      });
    }
  }

  // Jalankan saat pertama kali halaman dimuat
  setupNavigation();

  // Jalankan ulang setiap kali Swup selesai memindahkan halaman (Mencegah Menu Macet)
  document.addEventListener("swup:contentReplaced", setupNavigation);
</script>

<style>
  @media (orientation: portrait) {
    #mobile-links.expanded {
      align-items: end;
      background-color: #0000007a;
      backdrop-filter: blur(72px);
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      justify-content: end;
      position: absolute;
      z-index: 10;
      opacity: 1;
      padding: 1rem 2rem;
      width: 100vw;
      top: 0;
      min-height: fit-content;
      border-bottom-left-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem;
    }
    html.light #mobile-links.expanded {
      background-color: #ffffff6a;
    }
  }
</style>